#anc {
    -fx-background-size: 1200, 800;
    -fx-background-image: url("login.jpg");
}

#pane {
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#imgView {
    -fx-background-image: url("pokeLogo2.png");
}

#labelPassword {
    -fx-font: 30px Garamond;
}

#labelEmail {
    -fx-font: 30px Garamond;
}

#btnLogin {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnLogin:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnCreateNA {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnCreateNA:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}
