#newAccountAnc {
    -fx-background-size: 1200, 800;
    -fx-background-image: url("pikachuBackground.jpg");
}

#pane1 {
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#pane2 {
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#pane3 {
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#labelCreateAccount {
    -fx-font: 70px Garamond;
}

#labelUsername {
    -fx-font: 30px Garamond;
}

#labelEmail {
    -fx-font: 30px Garamond;
}

#labelPassword {
    -fx-font: 30px Garamond;
}

#labelPassword2 {
    -fx-font: 30px Garamond;
}

#backButton {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#backButton:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#goButton {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#goButton:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}