#showAllPokemonAnc {
    -fx-background-size: 1200, 800;
    -fx-background-image: url("mewtwoBackground.png");
}

#pane1 {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#pane2 {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#listView {
    -fx-font: 25px Garamond;
}

#labelName {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblName {
    -fx-font: 20px Garamond;
}

#labelType {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblType {
    -fx-font: 20px Garamond;
}

#labelID {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblID {
    -fx-font: 20px Garamond;
}

#labelHealth {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblHP {
    -fx-font: 20px Garamond;
}

#labelAttack {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblAtk {
    -fx-font: 20px Garamond;
}

#labelSpeed {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblSpeed {
    -fx-font: 20px Garamond;
}

#labelDefence {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblDf {
    -fx-font: 20px Garamond;
}

#lblNickname {
    -fx-font: 30px Garamond;
}

#btnNoNickname {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNoNickname:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNickname {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNickname:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnShowAllPokemon {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnShowAllPokemon:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnSelect {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnSelect:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBack {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBack:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBuy {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBuy:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnGetNewPokemon {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnGetNewPokemon:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}