#showAllPokemonAnc {
    -fx-background-size: 1200, 800;
    -fx-background-image: url("mewtwoBackground.png");
}

#pane1 {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#pane2 {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#pane3 {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#paneHelp {
    -fx-background-color: rgba(255, 255, 255, .8);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 2);
}

#choiceFirstType {
    -fx-font: 15px Garamond;
}

#choiceSecondType {
    -fx-font: 15px Garamond;
}

#txtSearch {
    -fx-font: 17px Garamond;
}

#txtName {
    -fx-font: 15px Garamond;
}

#txtID {
    -fx-font: 15px Garamond;
}

#txtHealth {
    -fx-font: 15px Garamond;
}

#txtSpeed {
    -fx-font: 15px Garamond;
}

#txtAttack {
    -fx-font: 15px Garamond;
}

#txtDefence {
    -fx-font: 15px Garamond;
}

#txtPrice {
    -fx-font: 15px Garamond;
}

#listView {
    -fx-font: 25px Garamond;
}

#labelName {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblName {
    -fx-font: 20px Garamond;
}

#labelType {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttType {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblType {
    -fx-font: 20px Garamond;
}

#labelID {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttID {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblID {
    -fx-font: 20px Garamond;
}

#labelHealth {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttHP {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblHP {
    -fx-font: 20px Garamond;
}

#labelAttack {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttAttack {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblAtk {
    -fx-font: 20px Garamond;
}

#labelSpeed {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttSpeed {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblSpeed {
    -fx-font: 20px Garamond;
}

#labelDefence {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#ttDefence {
    -fx-font: 17px Garamond;
    -fx-show-duration: 60s;
    -fx-show-delay: 0s;
}

#lblDf {
    -fx-font: 20px Garamond;
}

#labelPrice {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblPrice {
    -fx-font: 20px Garamond;
}

#lblCurrencyTitle {
    -fx-font: 30px Garamond;
    -fx-font-weight: bold;
}

#lblCurrency {
    -fx-font: 20px Garamond;
}


#lblNickname {
    -fx-font: 30px Garamond;
}

#btnSearch {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnSearch:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNoNickname {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNoNickname:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNickname {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnNickname:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnShowAllPokemon {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnShowAllPokemon:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnSelect {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnSelect:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBack {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBack:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBuy {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnBuy:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnGetNewPokemon {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnGetNewPokemon:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnUpdate {
    -fx-font: 20px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnUpdate:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnHelp {
    -fx-font: 15px Garamond;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#btnHelp:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}